<div class="container">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="login()" novalidate>
    <h2 class="form-signin-heading">Please sign in</h2>

    <div class="form-group">
      <label for="userName" class="sr-only">Email address</label>
      <input type="text" id="userName" formControlName="username" class="form-control" placeholder="Password"
             required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"
             formControlName="password"
             required>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" style="cursor: hand" type="submit" value="Submit Button">Login</button>
    </div>
  </form>
</div> <!-- /container -->